.container-rodape {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    bottom: 0;
    text-align: center;
    background-color: #08B4F4;
    padding: 2%;
    font-size: 12px;

    p {
        background-color: #08B4F4
    }
}   
