@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;800&display=swap');

.container-sobre {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  min-height: 80vh;

  .parte-one {
    display: flex;
    flex-direction: column;

    .barra-sep {
      width: 100%;
    } 
    div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 2% 4%;
  
        h1 {
          font-size: 200%;
          width: 50%;
        }
      }
}
}