@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;800&display=swap');

.container-sobre {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  min-height: 80vh;

  .parte-one {
    display: flex;
    flex-direction: column;

    .barra-sep {
      width: 100%;
    }

    div {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin: 2% 4%;

      h1 {
        font-size: 200%;
        width: 50%;
      }
    }

    .conteudo img {
      width: 50%;
    }
  }

  .parte-two {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    margin: 6% 0%;
    text-align: justify;

    h3 {
      margin-bottom: 2%;
    }
  }

  @media (max-width: 730px) {
    .parte-one h1 {
      font-size: 100%;
      width: 50%;
    }

    .parte-two {
      h3 {
        font-size: 14px;
      }

      p {
        font-size: 10px;
      }
    }
  }

  @media (max-width: 370px) {
    .parte-one h1 {
      font-size: 50%;
      width: 50%;
    }

    .parte-two {
      h3 {
        font-size: 12px;
      }

      p {
        font-size: 8px;
      }
    }
  }
}